@model IEnumerable<Talor_music.Models.PlayListSong>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        var total = 0m;
        if (item.Songs != null && item.Songs.Any())
        {
            total = item.Songs.Sum(s => s.Price);
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @String.Format("{0:C}", total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaylistSongID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaylistSongID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlaylistSongID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
